@model Character
@{
    ViewData["Title"] = "GetCharacterInfo";

}

<h1>GetCharacterInfo</h1>
<p>Name: @Model.Name</p>
<p>Culture: @Model.Culture</p>
<p>Gender: @Model.Gender</p>
<p>Born: @Model.Born</p>


@foreach (string s in Model.Aliases)
{
    <p>@s</p>
}
@*<p>@Model.Allegiances</p>*@

@*@for(int i = 0; i < numItems; i++)
    {
        <p>@Model.Houses[i].Name</p>
    }*@
